<div class="col-md-8 offset-md-3">
  <div class="alert alert-danger" *ngIf="error">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
                {{ error.error | json }}
            </span>
      </div>
    </div>
  </div>
  <h3> Create Course </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label> Course Name :</label>
      <input type="text" class ="form-control" id = "name"
             [(ngModel)] = "course.course" name = "name">
    </div>

    <div>
      <button class = "btn btn-success" type ="submit">Save</button>
    </div>



  </form>
</div>

